@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy Extrabold"), url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff"), url("../fonts/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/roboto-v29-latin_cyrillic-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v29-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v29-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  width: 100%;
}

.container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  max-width: 1900px;
}

.header {
  text-align: center;
  background: url(../img/bg.png) no-repeat;
  background-size: 100%;
  width: 100%;
}

.header_container {
  text-align: left;
  width: 100%;
  padding: 75px 100px 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.logo {
  margin-right: auto;
}

.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Gilroy';
  color: white;
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 20px;
  text-decoration: none;
}

.bar_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 134px;
}

.burger {
  display: none;
}

.bar_container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.bar_container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-decoration: none;
}

.bar_container a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  color: white;
  font-size: 22px;
  line-height: 20px;
  text-decoration: none;
  padding: 20px;
  border: 2px solid transparent;
}

.bar_containerli:not(:last-child) {
  padding-right: 71px;
}

.bar_container a:hover {
  border: 2px solid white;
  color: white;
}

.phone {
  margin-right: 57px;
}

.phone a {
  font-family: 'Roboto';
  font-style: normal;
  color: white;
  font-size: 22px;
  line-height: 20px;
  text-decoration: none;
  font-weight: 700;
}

.switch_language ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.switch_language li:not(:last-child) {
  list-style: none;
  padding-right: 12px;
}

.switch_language a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  color: #777777;
  font-size: 22px;
  line-height: 20px;
  text-decoration: none;
  padding: 12px;
  border: 2px solid transparent;
}

.switch_language a.activeLang {
  border: 2px solid white;
  color: white;
}

.header_title {
  color: white;
}

.header_title h1 {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-size: 90px;
  line-height: 110px;
  margin: 150px 0 0;
}

.header_title p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 55px;
  margin: 90px 0 0;
}

.button_down {
  text-align: center;
  position: relative;
}

.button_down {
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  color: #777777;
  font-size: 22px;
  line-height: 20px;
  text-decoration: none;
  margin: auto;
}

.button_down p {
  margin: 0;
}

.stick {
  background: #777777;
  width: 2px;
  height: 65px;
  margin: auto;
  margin-top: 15px;
}

.main {
  text-align: center;
  background: url(../img/bg2.png) no-repeat;
  width: 100%;
}

.main_container {
  padding: 120px 150px 110px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.we_doing h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 56px;
  color: black;
  margin: 0 0 80px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 90px 0 0;
}

.cards div {
  text-align: left;
  width: 460px;
  margin-bottom: 70px;
}

.cards div:not(:last-child) {
  margin-right: 110px;
}

.cards div:nth-child(3) {
  margin-right: 0;
}

.cards div:nth-child(4) {
  margin-bottom: 0;
}

.cards div:nth-child(5) {
  margin-bottom: 0;
}

.cards img {
  margin-bottom: 35px;
}

.cards h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 35px;
}

.cards p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  text-align: left;
  margin: 0;
}

.button_proj {
  text-align: center;
  position: relative;
}

.button_proj {
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  color: #777777;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  margin: auto;
}

.button_proj p {
  margin: 0;
}

.stick-pj {
  background: #777777;
  width: 2px;
  height: 65px;
  margin: auto;
  margin-top: 15px;
}

.gazprom {
  text-align: center;
  background-color: #bdcbd7;
  width: 100%;
  height: 860px;
}

.gazprom_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 150px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gazprom .sites {
  position: relative;
  left: -150px;
  margin-top: 70px;
  z-index: 3;
  width: 77%;
}

.gazprom-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gazprom-info h2 {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 110px;
  margin: 0 0 30px 0;
}

.gazprom-info p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  margin: 0 0 70px 0;
}

.tinkoff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fcd300;
  width: 100%;
  height: 860px;
}

.tinkoff_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 150px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tinkoff .photo-phone {
  position: relative;
  left: -125px;
  margin-top: 585px;
  z-index: 1;
  width: 100%;
}

.tinkoff-info {
  min-width: 530px;
  position: relative;
  z-index: 2;
  left: 420px;
  top: 0;
}

.tinkoff-menu {
  margin: 0 0 70px 0;
}

.tinkoff-info h2 {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 110px;
  margin: 0 0 30px 0;
}

.tinkoff-menu p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  margin: 0 0 30px 0;
}

.tinkoff-menu p:nth-child(4) {
  margin-bottom: 0;
}

.adidas {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.adidas_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 150px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.adidas .adi-monitor {
  position: relative;
  left: -150px;
  width: 100%;
}

.adidas-info {
  position: relative;
  left: -680px;
}

.adidas-menu {
  margin: 0 0 70px 0;
}

.adidas h2 {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 110px;
  margin: 0 0 30px 0;
}

.adidas-menu p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  margin: 0 0 30px 0;
  width: 740px;
}

.btn-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 280px;
  height: 70px;
  border: 2px solid black;
  background-color: transparent;
  text-decoration: none;
  margin: 0;
}

.btn-in p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
  color: black;
  margin: 0 15px 0 0;
}

.btn-in-t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 280px;
  height: 70px;
  border: 2px solid black;
  background-color: transparent;
  text-decoration: none;
  margin: 0;
}

.btn-in-t p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
  color: black;
  margin: 0 15px 0 0;
}

.btn-in-adi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 280px;
  height: 70px;
  border: 2px solid black;
  background-color: black;
  text-decoration: none;
  margin: 0;
}

.btn-in-adi p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
  color: black;
  margin: 0 15px 0 0;
  color: white;
}

.all_projects-line {
  height: 210px;
  background: url(../img/projects/Rectangle5.png);
  position: relative;
  z-index: 5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-in-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 280px;
  height: 70px;
  border: 2px solid white;
  background-color: #303030;
  text-decoration: none;
  margin: 0;
}

.btn-in-line p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
  color: white;
  margin: 0 15px 0 0;
}

.reason {
  background-color: #f1f2f2;
  width: 100%;
}

.reason_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 150px 155px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reason_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 120px;
}

.reason_title .six {
  position: relative;
  top: -50px;
  left: 130px;
}

.reason_title h2 {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 56px;
  z-index: 1;
  margin: 0;
}

.reason_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.reason_cards div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 475px;
  margin: 0 85px 90px 0;
}

.reason_cards div:nth-child(3) {
  margin-right: 0;
}

.reason_cards div:nth-child(6) {
  margin-right: 0;
}

.reason_cards div:nth-child(4) {
  margin-bottom: 0;
}

.reason_cards div:nth-child(5) {
  margin-bottom: 0;
}

.reason_cards div:nth-child(6) {
  margin-bottom: 0;
}

.reason_cards img {
  margin: 0 20px 40px 0;
}

.reason_cards h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  margin: 0 0 40px 0;
}

.reason_cards p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 32px;
  margin: 0 0 0 15px;
}

.our_clients {
  text-align: center;
  width: 100%;
}

.our_clients-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 150px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.our_clients h2 {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 110px;
  margin: 200px 0 110px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 140px;
}

.clients-card {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 85px 0;
}

.clients-card:nth-child(4) {
  margin-right: 0;
}

.clients-card:nth-child(8) {
  margin-right: 0;
}

.clients-card:nth-child(12) {
  margin-right: 0;
}

.clients-card:nth-child(9) {
  margin-bottom: 0;
}

.clients-card:nth-child(10) {
  margin-bottom: 0;
}

.clients-card:nth-child(11) {
  margin-bottom: 0;
}

.clients-card:nth-child(12) {
  margin-bottom: 0;
}

.slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 250px;
  text-align: center;
}

.slogan-top {
  margin-bottom: 110px;
}

.slogan-bottom {
  margin: 110px 0 80px;
}

.slogan p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 55px;
  margin: 0;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/bg-slider2.png) no-repeat;
  background-size: 100%;
  background-position: 110px 0;
  width: 100%;
}

.slider_container {
  position: relative;
  z-index: 1;
  min-width: 0;
  padding: 180px 100px 210px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider_container .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -60px 130px 0 0;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 130px;
  border: none;
}

.slider_container .slick-arrow.slick-prev {
  left: 0;
}

.slider_container .slick-arrow.slick-next {
  right: 0;
  background: url(../icons/slider-arrow.png) 0 0/100% no-repeat;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vidio {
  margin-right: 100px;
}

.vidio-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 450px;
}

.vidio-text h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  margin: 0;
}

.vidio-text p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 32px;
  margin: 0;
  margin: 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: url(../img/footer-bg.png) no-repeat;
  background-size: 100%;
  width: 100%;
}

.top_container {
  margin: 140px 0 112px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.text h2 {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 110px;
  margin: 0;
  color: white;
}

.footer-mail {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
  line-height: 110px;
  margin: 0;
  color: white;
  text-decoration: none;
}

.footer-phone {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 110px;
  color: white;
  text-decoration: none;
}

.footer_bottom {
  background-color: #222222;
  width: 100%;
}

.bottom_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 85px 150px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer_bottom .footer_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 77px;
  height: 77px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(#25adff), to(#57d781));
  background-image: linear-gradient(90deg, #25adff, #57d781);
  margin-right: 20px;
}

.behance,
.dribbble,
.vk,
.facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: black;
}

.footer_btn div:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#25adff), to(#57d781));
  background-image: linear-gradient(90deg, #25adff, #57d781);
}

.footer_bottom div:nth-child(4) {
  margin-right: 0;
}

@media (max-width: 1440px) {
  .header_container {
    padding: 20px 100px 24px;
  }
  .logo {
    margin-right: auto;
    padding-right: 40px;
  }
  .bar_container {
    margin-right: 50px;
  }
  .phone {
    display: none;
  }
  .header_title h1 {
    margin: 50px 0 0;
    font-size: 70px;
    line-height: 80px;
  }
  .header_title p {
    font-size: 30px;
    line-height: 40px;
    margin: 20px 0 0;
  }
  .stick {
    height: 35px;
  }
  .cards div:not(:last-child) {
    margin-right: 0;
  }
  .cards div:nth-child(2) {
    margin-bottom: 70px;
  }
  .cards div:nth-child(4) {
    margin-bottom: 70px;
  }
  .gazprom {
    height: auto;
  }
  .gazprom .sites {
    position: relative;
    left: -150px;
    margin-top: 70px;
    width: 80%;
  }
  .gazprom-info h2 {
    font-size: 38px;
    line-height: 60px;
  }
  .gazprom-info p {
    font-size: 24px;
    line-height: 34px;
    margin: 0 0 50px 0;
  }
  .tinkoff {
    height: 550px;
  }
  .tinkoff .photo-phone {
    left: -165px;
    top: -95px;
    width: 110%;
  }
  .tinkoff-info {
    z-index: 2;
    margin: 0 auto;
    left: 290px;
  }
  .tinkoff-menu {
    margin: 0 0 50px 0;
  }
  .tinkoff-info h2 {
    line-height: 70px;
    margin: 0 0 30px 0;
  }
  .tinkoff-menu p {
    margin: 0 0 30px 0;
  }
  .adidas-info {
    position: relative;
    left: -715px;
  }
  .btn-in p {
    margin: 0 15px 0 0;
  }
  .btn-in-t {
    background-color: transparent;
  }
  .btn-in-t p {
    margin: 0 15px 0 0;
  }
  .btn-in-adi p {
    margin: 0 15px 0 0;
  }
  .reason_cards div:nth-child(5) {
    margin-right: 0;
  }
  .reason_cards div:nth-child(6) {
    margin-right: 85px;
  }
}

@media (max-width: 1024px) {
  .header_container {
    padding: 40px;
  }
  .logo {
    margin-right: auto;
  }
  .logo a {
    font-size: 30px;
  }
  .burger {
    display: block;
    position: relative;
    width: 40px;
    height: 30px;
    left: -40px;
    z-index: 1;
  }
  .burger span {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 14px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .burger::before,
  .burger::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger.burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 14px;
  }
  .burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 14px;
  }
  .bar_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    opacity: 1;
    max-height: calc(100vh - 0);
    overflow-y: hidden;
  }
  .bar_container.active {
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .bar_container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
  }
  .bar_container li:not(:last-child) {
    padding: 0;
    margin-bottom: 40px;
  }
  .bar_container a {
    font-size: 35px;
  }
  .phone {
    display: none;
  }
  .header_title h1 {
    font-size: 35px;
    line-height: 40px;
    margin: 50px 0 0;
  }
  .header_title p {
    font-size: 25px;
    line-height: 35px;
    margin: 20px 0 0;
  }
  .button_down.active {
    display: none;
  }
  .button_down p {
    font-size: 16px;
    margin: -11px;
  }
  .stick {
    background: #777777;
    width: 2px;
    height: 35px;
    margin: auto;
    margin-top: 15px;
  }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin: 90px 0 0;
  }
  .cards div {
    text-align: left;
    width: 460px;
    margin-bottom: 70px;
  }
  .cards div:not(:last-child) {
    margin-right: 110px;
  }
  .cards div:nth-child(3) {
    margin-right: 0;
  }
  .cards div:nth-child(4) {
    margin: 0 0 70px 0;
  }
  .cards div:nth-child(5) {
    margin-bottom: 0;
  }
  .cards img {
    margin-bottom: 35px;
  }
  .gazprom {
    height: auto;
  }
  .gazprom_container {
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  .gazprom .sites {
    position: relative;
    left: 0;
    min-width: 450px;
    top: 70px;
    margin: 0;
  }
  .gazprom-info {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    left: 300px;
    top: -60px;
  }
  .gazprom-info h2 {
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 30px 0;
  }
  .gazprom-info p {
    font-size: 19px;
    line-height: 30px;
    margin: 0 0 30px 0;
  }
  .tinkoff {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 550px;
  }
  .tinkoff_container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px;
  }
  .tinkoff .photo-phone {
    left: -170px;
    top: 115px;
    z-index: 2;
    margin: 0 auto;
    width: 110%;
  }
  .tinkoff-info {
    left: 330px;
    top: 0;
    z-index: 3;
  }
  .tinkoff-info h2 {
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 30px 0;
  }
  .tinkoff-menu {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 430px;
    margin: 0 0 30px 0;
  }
  .tinkoff-menu p {
    font-size: 19px;
    line-height: 30px;
    margin: 0 0 30px 0;
  }
  .btn-in {
    width: 240px;
    height: 60px;
  }
  .btn-in-t {
    width: 240px;
    height: 60px;
  }
  .btn-in p {
    margin: 0 15px 0 0;
  }
  .reason_container {
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 30px;
  }
  .reason_cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reason_cards div:nth-child(1) {
    margin: 0 0 80px;
  }
  .reason_cards div:nth-child(2) {
    margin: 0 0 80px;
  }
  .reason_cards div:nth-child(3) {
    margin: 0 0 80px;
  }
  .reason_cards div:nth-child(4) {
    margin: 0 0 80px;
  }
  .reason_cards div:nth-child(5) {
    margin: 0 0 80px;
  }
  .reason_cards div:nth-child(6) {
    margin: 0;
  }
  .our_clients {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .our_clients-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 30px 15px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .our_clients h2 {
    font-size: 45px;
    line-height: 1;
    margin: 10px 0 60px;
  }
  .clients {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 100px;
  }
  .clients-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 0 0 100px;
  }
  .clients-card:nth-child(9) {
    margin: 0 0 100px;
  }
  .clients-card:nth-child(10) {
    margin: 0 0 100px;
  }
  .clients-card:nth-child(11) {
    margin: 0 0 100px;
  }
  .clients-card:nth-child(12) {
    margin: 0;
  }
  .slogan {
    -ms-flex-line-pack: center;
        align-content: center;
    text-align: center;
  }
  .slogan-top {
    margin: 60px 0 60px;
  }
  .slogan-bottom {
    margin: 60px 0 0;
  }
  .slider {
    padding: 30px 0;
  }
  .slider_container {
    padding: 0;
  }
  .slider_container .slick-arrow {
    margin: -60px -160px 0 0;
  }
  .slick-list {
    width: 700px;
  }
  .footer-top {
    background-size: 250%;
    background-position: -318px 0;
    width: 100%;
    height: 245px;
  }
  .top_container {
    margin: 0;
    padding: 0;
  }
  .text h2 {
    font-size: 26px;
    line-height: 1;
    margin-bottom: 40px;
  }
  .footer-mail {
    font-size: 25px;
    line-height: 1;
    margin-bottom: 40px;
  }
  .footer-phone {
    font-size: 25px;
    line-height: 1;
  }
  .bottom_container {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .header_container {
    padding: 15px;
  }
  .logo {
    margin-right: 170px;
    padding-right: 0;
  }
  .logo a {
    font-size: 25px;
  }
  .burger {
    display: block;
    position: relative;
    width: 40px;
    height: 30px;
    left: -40px;
    z-index: 1;
  }
  .burger span {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 14px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .burger::before,
  .burger::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger.burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 14px;
  }
  .burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 14px;
  }
  .bar_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    opacity: 1;
    max-height: calc(100vh - 0);
    overflow-y: hidden;
  }
  .bar_container.active {
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .bar_container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
  }
  .bar_container li:not(:last-child) {
    padding: 0;
    margin-bottom: 40px;
  }
  .bar_container a {
    font-size: 35px;
  }
  .phone {
    display: none;
  }
  .switch_language {
    display: none;
  }
  .header_title h1 {
    font-size: 20px;
    line-height: 22px;
    margin: 15px 0 0;
  }
  .header_title p {
    font-size: 13px;
    line-height: 15px;
    margin: 10px 0 0;
  }
  .button_down {
    display: none;
  }
  .main {
    text-align: center;
    background: url(../img/bg2.png) no-repeat;
    width: 100%;
  }
  .main_container {
    padding: 0 15px 30px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .we_doing h2 {
    font-size: 35px;
    color: black;
    margin: 30px 0 0;
  }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    margin: 42px 0 0;
  }
  .cards div {
    text-align: center;
    width: 100%;
    margin-right: 0;
  }
  .cards div:not(:last-child) {
    margin-right: 0;
  }
  .cards div:nth-child(3) {
    margin-right: 0;
  }
  .cards div:nth-child(4) {
    margin-bottom: 70px;
  }
  .cards div:nth-child(5) {
    margin-bottom: 0;
  }
  .cards h3 {
    margin-bottom: 20px;
  }
  .cards p {
    text-align: center;
    margin-bottom: 0;
  }
  .button_proj {
    display: none;
  }
  .gazprom {
    background-color: #bdcbd7;
    width: 100%;
    height: 650px;
  }
  .gazprom_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .gazprom .sites {
    position: relative;
    width: 310px;
    left: -15px;
    margin: 0;
    top: 40px;
  }
  .gazprom-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    left: 0;
    top: auto;
  }
  .gazprom-info h2 {
    font-size: 38px;
    line-height: 1;
    margin: 0 0 50px 0;
  }
  .gazprom-info p {
    font-size: 24px;
    line-height: 34px;
    margin: 0 0 40px 0;
  }
  .tinkoff {
    height: 500px;
  }
  .tinkoff_container {
    padding: 0;
    margin: 0;
  }
  .tinkoff .photo-phone {
    display: none;
  }
  .tinkoff-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
    min-width: 290px;
    left: 0;
    margin: 0 auto;
  }
  .tinkoff-menu {
    max-width: 300px;
    padding: 10px;
  }
  .tinkoff-info h2 {
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 30px 0;
  }
  .tinkoff-menu {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 430px;
    margin: 0 0 30px 0;
  }
  .tinkoff-menu p {
    font-size: 19px;
    line-height: 30px;
    margin: 0 0 30px 0;
  }
  .adidas {
    width: 100%;
    height: 835px;
  }
  .adidas_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 30px 15px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .adidas .adi-monitor {
    position: relative;
    left: -15px;
    top: -61px;
    width: 800px;
    z-index: -1;
  }
  .adidas-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    position: relative;
    left: 0;
    margin: 0 auto;
  }
  .adidas h2 {
    font-size: 40px;
    line-height: 1;
    margin: 0 0 50px 0;
  }
  .adidas-menu {
    width: 290px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    margin: 0 0 50px 0;
  }
  .adidas-menu p:nth-child(2) {
    margin: 0;
  }
  .btn-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 280px;
    height: 70px;
    border: 2px solid black;
    background-color: #bdcbd7;
    text-decoration: none;
    margin: 0;
  }
  .btn-in p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 20px;
    color: black;
    margin: 0 15px 0 0;
  }
  .all_projects-line {
    height: 150px;
    background: url(../img/projects/Rectangle5.png);
    background-size: 200%;
    position: relative;
    z-index: 5;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .btn-in-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 280px;
    height: 70px;
    border: 2px solid white;
    background-color: #303030;
    text-decoration: none;
    margin: 0;
  }
  .btn-in-line p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 20px;
    color: white;
    margin: 0 15px 0 0;
  }
  .all_projects-line {
    height: 150px;
    background-size: 200%;
  }
  .reason {
    background-color: #f1f2f2;
    width: 100%;
    height: 1950px;
  }
  .reason_container {
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 15px 30px;
  }
  .reason_title {
    margin-bottom: 40px;
  }
  .reason_title .six {
    top: -40px;
    left: 10px;
    width: 170px;
  }
  .reason_title h2 {
    font-size: 35px;
    line-height: 1;
    position: relative;
    z-index: 1;
    left: -10px;
    top: -10px;
    margin: 0;
  }
  .reason_cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .reason_cards div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 290px;
  }
  .reason_cards div:nth-child(1) {
    margin: 0 0 60px;
  }
  .reason_cards div:nth-child(2) {
    margin: 0 0 60px;
  }
  .reason_cards div:nth-child(3) {
    margin: 0 0 60px;
  }
  .reason_cards div:nth-child(4) {
    margin: 0 0 60px;
  }
  .reason_cards div:nth-child(5) {
    margin: 0 0 60px;
  }
  .reason_cards div:nth-child(6) {
    margin: 0 0 60px;
  }
  .reason_cards img {
    margin: 0 0 10px 0;
  }
  .reason_cards h3 {
    margin: 0 0 10px 0;
  }
  .reason_cards p {
    margin: 0;
  }
  .our_clients {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .our_clients-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 30px 15px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .our_clients h2 {
    font-size: 45px;
    line-height: 1;
    margin: 10px 0 60px;
  }
  .clients {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 100px;
  }
  .clients-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 0 0 100px;
  }
  .clients-card:nth-child(9) {
    margin: 0 0 100px;
  }
  .clients-card:nth-child(10) {
    margin: 0 0 100px;
  }
  .clients-card:nth-child(11) {
    margin: 0 0 100px;
  }
  .clients-card:nth-child(12) {
    margin: 0;
  }
  .slogan {
    -ms-flex-line-pack: center;
        align-content: center;
    width: 290px;
    text-align: center;
  }
  .slogan-top {
    margin-bottom: 40px;
  }
  .slogan-bottom {
    margin: 40px 0 0;
  }
  .slider {
    background: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
  }
  .slider_container {
    padding: 30px 15px;
  }
  .slider_container .slick-arrow {
    margin: -60px -160px 0 0;
  }
  .slick-list {
    width: 290px;
    height: 290px;
  }
  .vidio-text {
    display: none;
  }
  .slider-first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .slider-second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .slider-third {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .footer-top {
    background-size: 250%;
    background-position: -318px 0;
    width: 100%;
    height: 245px;
  }
  .top_container {
    margin: 0;
    padding: 0;
  }
  .text h2 {
    font-size: 26px;
    line-height: 1;
    margin-bottom: 40px;
  }
  .footer-mail {
    font-size: 25px;
    line-height: 1;
    margin-bottom: 40px;
  }
  .footer-phone {
    font-size: 25px;
    line-height: 1;
  }
  .footer_bottom {
    background-color: #222222;
    width: 100%;
  }
  .bottom_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 30px 15px;
  }
  .footer_bottom .footer_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    background-image: -webkit-gradient(linear, left top, right top, from(#25adff), to(#57d781));
    background-image: linear-gradient(90deg, #25adff, #57d781);
    margin-bottom: 50px;
  }
  .behance,
  .dribbble,
  .vk,
  .facebook {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: black;
  }
  .footer_btn div:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#25adff), to(#57d781));
    background-image: linear-gradient(90deg, #25adff, #57d781);
  }
  .footer_bottom div:nth-child(1) {
    margin-right: 0;
  }
  .footer_bottom div:nth-child(2) {
    margin-right: 0;
  }
  .footer_bottom div:nth-child(3) {
    margin-right: 0;
  }
  .footer_bottom div:nth-child(4) {
    margin: 0;
  }
}
