@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy Extrabold"), url("/fonts/Gilroy-Extrabold.woff2") format("woff2"), url("/fonts/Gilroy-Extrabold.woff") format("woff"), url("/fonts/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(""), url("/fonts/roboto-v29-latin_cyrillic-300.woff2") format("woff2"), url("/fonts/roboto-v29-latin_cyrillic-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/roboto-v29-latin_cyrillic-regular.woff2") format("woff2"), url("/fonts/roboto-v29-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/roboto-v29-latin_cyrillic-700.woff2") format("woff2"), url("/fonts/roboto-v29-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.header {
  text-align: center;
  background: url(/img/bg.png) no-repeat;
  background-size: cover;
  width: 100%;
  padding: 75px 150px 0;
}

.header_container {
  text-align: left;
  padding-bottom: 200px;
  width: 100%;
}

.header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 300px;
}

.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Gilroy';
  color: white;
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 20px;
  text-decoration: none;
}

.bar {
  margin-right: 134px;
}

.bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.bar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-decoration: none;
}

.bar a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  color: white;
  font-size: 22px;
  line-height: 20px;
  text-decoration: none;
  padding: 15px 20px;
  border: 1px solid transparent;
}

.bar li:not(:last-child) {
  padding-right: 60px;
}

.bar a:hover {
  border: 1px solid white;
  color: white;
}

.phone {
  margin-right: 73px;
}

.phone a {
  font-family: 'Roboto';
  font-style: normal;
  color: white;
  font-size: 22px;
  line-height: 20px;
  text-decoration: none;
  font-weight: 700;
}

.switch_language ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 0;
}

.switch_language li {
  list-style: none;
}

.switch_language a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  color: #777777;
  font-size: 22px;
  line-height: 20px;
  text-decoration: none;
  padding: 15px 20px;
  border: 1px solid transparent;
}

.switch_language a.activeLang {
  border: 1px solid white;
  color: white;
}

.header_title {
  color: white;
}

.header_title h1 {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-size: 90px;
  line-height: 110px;
  margin: 150px 0 0;
}

.header_title p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 55px;
  margin: 90px 0 0;
}

.button_down {
  text-align: center;
  position: relative;
}

.button_down {
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  color: #777777;
  font-size: 22px;
  line-height: 20px;
  text-decoration: none;
  margin: auto;
}

.button_down p {
  margin: 0;
}

.stick {
  background: #777777;
  width: 2px;
  height: 65px;
  margin: auto;
  margin-top: 15px;
}

.main {
  background: url(/img/bg2.png) no-repeat;
  width: 100%;
  text-align: center;
  padding: 0 150px 0;
}

.we_doing h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 56px;
  color: black;
  margin: 0;
  margin-top: 110px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 80px;
  width: 100%;
  margin: 90px 0 100px;
}

.cards div {
  text-align: left;
  width: 560px;
  margin-bottom: 70px;
}

.cards div:not(:last-child) {
  margin-right: 110px;
}

.cards div:nth-child(3) {
  margin-right: 0;
}

.cards div:nth-child(4) {
  margin-bottom: 0;
}

.cards div:nth-child(5) {
  margin-bottom: 0;
}

.cards img {
  margin-bottom: 35px;
}

.cards h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 35px;
}

.cards p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  text-align: left;
}

.button_proj {
  text-align: center;
  position: relative;
}

.button_proj {
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  color: #777777;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  margin: auto;
}

.button_proj p {
  margin: 0;
}

.stick-pj {
  background: #777777;
  width: 2px;
  height: 65px;
  margin: auto;
  margin-top: 15px;
}

.gazprom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 150px 0;
  background-color: #bdcbd7;
  width: 100%;
  height: 860px;
}

.gazprom .sites {
  position: relative;
  left: -220px;
  margin-top: 340px;
}

.gazprom-info h2 {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 110px;
  margin: 0 0 30px 0;
}

.gazprom-info p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  margin: 0 0 70px 0;
}

.tinkoff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 150px 0;
  background-color: #fcd300;
  width: 100%;
  height: 860px;
}

.tinkoff-info {
  min-width: 530px;
  position: relative;
  z-index: 1;
  left: 400px;
  top: 10px;
}

.tinkoff .photo-phone {
  position: relative;
  left: -195px;
  margin-top: 585px;
  z-index: 1;
}

.photo-phone-sh {
  position: relative;
  left: 0;
  margin-top: 0;
}

.tinkoff-info h2 {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 110px;
  margin: 0 0 30px 0;
}

.tinkoff-menu p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  margin: 0 0 30px 0;
}

.tinkoff-menu {
  margin: 0 0 70px 0;
}

.adidas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 150px 0;
  width: 100%;
  height: 860px;
}

.adidas .adi-monitor {
  position: relative;
  left: 220px;
}

.adidas-info {
  position: relative;
  left: -580px;
}

.adidas h2 {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 110px;
  margin: 0 0 30px 0;
}

.adidas-menu p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  margin: 0 0 30px 0;
  width: 740px;
}

.adidas-menu {
  margin: 0 0 70px 0;
}

.all_projects-line {
  height: 210px;
  background: url(/img/projects/Rectangle5.png);
  padding: 0 150px 0;
  position: relative;
  z-index: 5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-in-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 280px;
  height: 70px;
  border: 2px solid white;
  background-color: #303030;
  text-decoration: none;
  margin: 0;
}

.btn-in-line p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
  color: white;
  margin: 0 15px 0 0;
}

.btn-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 280px;
  height: 70px;
  border: 2px solid black;
  background-color: #bdcbd7;
  text-decoration: none;
  margin: 0;
}

.btn-in p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
  color: black;
  margin: 0 15px 0 0;
}

.btn-in-t {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 280px;
  height: 70px;
  border: 2px solid black;
  background-color: #fcd300;
  text-decoration: none;
  margin: 0;
}

.btn-in-t p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
  color: black;
  margin: 0 15px 0 0;
}

.btn-in-adi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 280px;
  height: 70px;
  border: 2px solid black;
  background-color: black;
  text-decoration: none;
  margin: 0;
}

.btn-in-adi p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
  color: black;
  margin: 0 15px 0 0;
  color: white;
}

.reason {
  background-color: #f1f2f2;
  padding: 0 150px 150px;
  width: 100%;
  z-index: 3;
}

.reason_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 120px;
}

.reason_title .six {
  position: relative;
  top: -50px;
  left: 130px;
}

.reason_title h2 {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 56px;
  z-index: 1;
  margin: 0;
}

.reason_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reason_cards div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 450px;
  margin: 0 86px 90px 0;
}

.reason_cards div:nth-child(3) {
  margin-right: 0;
}

.reason_cards div:nth-child(6) {
  margin-right: 0;
}

.reason_cards div:nth-child(4) {
  margin-bottom: 0;
}

.reason_cards div:nth-child(5) {
  margin-bottom: 0;
}

.reason_cards div:nth-child(6) {
  margin-bottom: 0;
}

.reason_cards img {
  margin: 0 20px 40px 0;
}

.reason_cards h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  margin: 0 0 40px 0;
}

.reason_cards p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 32px;
  margin: 0 0 0 15px;
}

.our_clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 150px 0;
  width: 100%;
}

.our_clients h2 {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 110px;
  margin: 80px 0 120px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 175px;
}

.clients-card {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 85px 0;
}

.clients-card:nth-child(4) {
  margin-right: 0;
}

.clients-card:nth-child(8) {
  margin-right: 0;
}

.clients-card:nth-child(12) {
  margin-right: 0;
}

.clients-card:nth-child(9) {
  margin-bottom: 0;
}

.clients-card:nth-child(10) {
  margin-bottom: 0;
}

.clients-card:nth-child(11) {
  margin-bottom: 0;
}

.clients-card:nth-child(12) {
  margin-bottom: 0;
}

.slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 950px;
  text-align: center;
}

.slogan-top {
  margin-bottom: 110px;
}

.slogan-bottom {
  margin: 110px 0 80px;
}

.slogan p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 55px;
  margin: 0;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(/img/bg-slider2.png) no-repeat;
  background-size: 85%;
  background-position: 290px 0;
  padding: 110px 150px 210px;
  width: 100%;
}

.slider_bar {
  position: relative;
  min-width: 0;
  padding: 0 120px;
}

.slider_bar .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -60px 0 0 0;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 130px;
  border: none;
}

.slider_bar .slick-arrow.slick-prev {
  left: 0;
}

.slider_bar .slick-arrow.slick-next {
  right: 0;
  background: url(/icons/slider-arrow.png) 0 0/100% no-repeat;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vidio {
  margin-right: 100px;
}

.vidio-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 450px;
}

.vidio-text h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  margin: 0;
}

.vidio-text p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 32px;
  margin: 0;
  margin: 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 150px 0;
  width: 100%;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: url(/img/footer-bg.png) no-repeat;
  background-size: 100%;
  padding: 140px 150px 129px;
  width: 100%;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.text h2 {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 110px;
  margin: 0 0 40px;
  color: white;
}

.footer-mail {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
  line-height: 110px;
  margin-bottom: 35px;
  color: white;
  text-decoration: none;
}

.footer-phone {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 110px;
  color: white;
  text-decoration: none;
}

.footer_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #222222;
  padding: 85px 150px;
  width: 100%;
}

.footer_bottom .footer_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 77px;
  height: 77px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(#25adff), to(#57d781));
  background-image: linear-gradient(90deg, #25adff, #57d781);
  margin-right: 20px;
}

.behance, .dribbble, .vk, .facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: black;
}

.footer_bottom div:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#25adff), to(#57d781));
  background-image: linear-gradient(90deg, #25adff, #57d781);
}

.footer_bottom div:nth-child(4) {
  margin-right: 0;
}
