@import "_fonts.scss";


body {
   margin: 0;
   padding: 0;
   overscroll-behavior: none;
   box-sizing: border-box;
   width: 100%;
}

//header _ _ _ 
.header {
   text-align: center;
   background: url(/img/bg.png) no-repeat;
   background-size: cover;
   width: 100%;
   padding: 75px 150px 0;
}

.header_container {
   text-align: left;
   padding-bottom: 200px;
   width: 100%;
}

.header_top {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

//Логотип _ _ _
.logo {
   margin-right: 300px;
}

.logo a {
   display: flex;
   align-items: center;
   font-family: 'Gilroy';
   color: rgb(255, 255, 255);
   font-weight: 800;
   font-style: normal;
   font-size: 48px;
   line-height: 20px;
   text-decoration: none;
}

//Навигация _ _ _
.bar {
   margin-right: 134px;
}

.bar ul {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
   list-style: none;
   text-decoration: none;
   padding: 0;
   margin: 0;
}

.bar li {
   display: flex;
   flex-wrap: nowrap;
   text-decoration: none;
}

.bar a {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   color: rgb(255, 255, 255);
   font-size: 22px;
   line-height: 20px;
   text-decoration: none;
   padding: 15px 20px;
   border: 1px solid transparent;
}

.bar li:not(:last-child) {
   padding-right: 60px;
}

.bar a:hover {
   border: 1px solid white;
   color: rgb(255, 255, 255);
}

//Номер телефлна _ _ _
.phone {
   margin-right: 73px;
}

.phone a {
   font-family: 'Roboto';
   font-style: normal;
   color: rgb(255, 255, 255);
   font-size: 22px;
   line-height: 20px;
   text-decoration: none;
   font-weight: 700;
}

//Смена языка _ _ _
.switch_language ul {
   display: flex;
   flex-direction: row;
   padding: 0;
   margin: 0;
}

.switch_language li {
   list-style: none;
}

.switch_language a {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   color: rgb(119, 119, 119);
   font-size: 22px;
   line-height: 20px;
   text-decoration: none;
   padding: 15px 20px;
   border: 1px solid transparent;
}

.switch_language a.activeLang {
   border: 1px solid white;
   color: rgb(255, 255, 255);
}

//Текст _ _ _
.header_title {
   color: rgb(255, 255, 255);
}

.header_title h1 {
   font-family: 'Gilroy';
   font-weight: 800;
   font-style: normal;
   font-size: 90px;
   line-height: 110px;
   margin: 150px 0 0;
}

.header_title p {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   font-size: 34px;
   line-height: 55px;
   margin: 90px 0 0;
}

//Кнопка с чертой _ _ _
.button_down {
   text-align: center;
   position: relative;
}

.button_down {
   display: inline-block;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   color: rgb(119, 119, 119);
   font-size: 22px;
   line-height: 20px;
   text-decoration: none;
   margin: auto;
}

.button_down p {
   margin: 0;
}

.stick {
   background: rgb(119, 119, 119);
   width: 2px;
   height: 65px;
   margin: auto;
   margin-top: 15px;
}


//Что мы делаем _ _ _ 
.main {
   background: url(/img/bg2.png) no-repeat;
   width: 100%;
   text-align: center;
   padding: 0 150px 0;
}

.we_doing h2 {
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Gilroy';
   font-weight: 800;
   font-style: normal;
   font-size: 48px;
   line-height: 56px;
   color: black;
   margin: 0;
   margin-top: 110px;
}

//Карточки _ _ _ 
.cards {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: row;
   flex-wrap: wrap;
   margin-bottom: 80px;
   width: 100%;
   margin: 90px 0 100px;
}

.cards div {
   text-align: left;
   width: 560px;
   margin-bottom: 70px;
}

.cards div:not(:last-child) {
   margin-right: 110px;
}

.cards div:nth-child(3) {
   margin-right: 0;
}
.cards div:nth-child(4) {
   margin-bottom: 0;
}
.cards div:nth-child(5) {
   margin-bottom: 0;
}

.cards img {
   margin-bottom: 35px;
}

.cards h3 {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 19px;
   line-height: 32px;
   margin: 0;
   margin-bottom: 35px;
}

.cards p {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 28px;
   text-align: left;
}

//Кнопка проекты _ _ _
.button_proj {
   text-align: center;
   position: relative;
}

.button_proj {
   display: inline-block;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   color: rgb(119, 119, 119);
   font-size: 18px;
   line-height: 20px;
   text-decoration: none;
   margin: auto;
}

.button_proj p {
   margin: 0;
}

.stick-pj {
   background: rgb(119, 119, 119);
   width: 2px;
   height: 65px;
   margin: auto;
   margin-top: 15px;
}

//Наши проекты (Газпром)_ _ _
.gazprom {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 0 150px 0;
   background-color: rgb(189, 203, 215);
   width: 100%;
   height: 860px;
}

.gazprom .sites {
   position: relative;
   left: -220px;
   margin-top: 340px;
}

.gazprom-info h2 {
   font-family: 'Gilroy';
   font-weight: 800;
   font-style: normal;
   font-size: 48px;
   line-height: 110px;
   margin: 0 0 30px 0;
}

.gazprom-info p {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   font-size: 24px;
   line-height: 34px;
   margin: 0 0 70px 0;
}

//Наши проекты (Тиньков)_ _ _
.tinkoff {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   padding: 0 150px 0;
   background-color: rgb(252, 211, 0);
   width: 100%;
   height: 860px;
}

.tinkoff-info {
   min-width: 530px;
   position: relative;
   z-index: 1;
   left: 400px;
   top: 10px;
}
.tinkoff .photo-phone{
   position: relative;
   left: -195px;
   margin-top: 585px;
   z-index: 1;
}
.photo-phone-sh {
   position: relative;
   left: 0;
   margin-top: 0;
}

.tinkoff-info h2{
   font-family: 'Gilroy';
   font-weight: 800;
   font-style: normal;
   font-size: 48px;
   line-height: 110px;
   margin: 0 0 30px 0;
}

.tinkoff-menu p{ 
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   font-size: 24px;
   line-height: 34px;
   margin: 0 0 30px 0;
}
.tinkoff-menu {
   margin: 0 0 70px 0;
}

//Наши проекты (Adidas) _ _ _ 
.adidas {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 0 150px 0;
   width: 100%;
   height: 860px;
}
.adidas .adi-monitor{
   position: relative;
   left: 220px;

}
.adidas-info {
   position: relative;
   left: -580px;
}
.adidas h2{
   font-family: 'Gilroy';
   font-weight: 800;
   font-style: normal;
   font-size: 48px;
   line-height: 110px;
   margin: 0 0 30px 0;
}

.adidas-menu p{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   font-size: 24px;
   line-height: 34px;
   margin: 0 0 30px 0;
   width: 740px;
}

.adidas-menu {
   margin: 0 0 70px 0;
}

//Линия всех проектов _ _ _
.all_projects-line {
   height: 210px;
   background: url(/img/projects/Rectangle5.png);
   padding: 0 150px 0;
   position: relative;
   z-index: 5;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.bag {
   display: flex;
   justify-content: center;
   align-items: center;
}

.btn-in-line{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 280px;
   height: 70px;
   border: 2px solid rgb(255, 255, 255);
   background-color: rgb(48, 48, 48);
   text-decoration: none;
   margin: 0;
}

.btn-in-line p{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 20px;
   color: rgb(255, 255, 255);
   margin: 0 15px 0 0;
}

//Кнопки (Газпром) _ _ _
.btn-in {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 280px;
   height: 70px;
   border: 2px solid black;
   background-color: rgb(189, 203, 215);
   text-decoration: none;
   margin: 0;
}

.btn-in p {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 20px;
   color: black;
   margin: 0 15px 0 0;
}

//Кнопки (Тинков) _ _ _
.btn-in-t {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 280px;
   height: 70px;
   border: 2px solid black;
   background-color: rgb(252, 211, 0);
   text-decoration: none;
   margin: 0;
}

.btn-in-t p {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 20px;
   color: black;
   margin: 0 15px 0 0;
}

//Кнопки (Adidas) _ _ _
.btn-in-adi {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 280px;
   height: 70px;
   border: 2px solid black;
   background-color: rgb(0, 0, 0);
   text-decoration: none;
   margin: 0;
   }
   
.btn-in-adi p {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 20px;
   color: black;
   margin: 0 15px 0 0;
   color: white;
}

//6 Причини _ _ _
.reason {
   background-color: rgb(241, 242, 242);
   padding: 0 150px 150px ;
   width: 100%;
   z-index: 3;
}
.reason_title {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 120px;
}
.reason_title .six{
   position: relative;
   top: -50px;
   left: 130px;
}
.reason_title h2{
   font-family: 'Gilroy';
   font-weight: 800;
   font-style: normal;
   font-size: 48px;
   line-height: 56px;
   z-index: 1;
   margin: 0;
}
.reason_cards {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   flex-direction: row;
   flex-wrap: wrap;
}
.reason_cards div{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: row;
   flex-wrap: wrap;
   width: 450px;
   margin: 0 86px 90px 0;
}

.reason_cards div:nth-child(3) {
   margin-right: 0;
}
.reason_cards div:nth-child(6) {
   margin-right: 0;
}
.reason_cards div:nth-child(4) {
   margin-bottom: 0;
}.reason_cards div:nth-child(5) {
   margin-bottom: 0;
}.reason_cards div:nth-child(6) {
   margin-bottom: 0;
}

.reason_cards img{
   margin: 0 20px 40px 0;
}
.reason_cards h3{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 19px;
   line-height: 32px;
   margin: 0 0 40px 0;
}
.reason_cards p{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   font-size: 17px;
   line-height: 32px;
   margin: 0 0 0 15px;
}

//Наши клиенты _ _ _
.our_clients {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   flex-wrap: wrap;
   padding: 0 150px 0;
   width: 100%;
}

.our_clients h2{
   font-family: 'Gilroy';
   font-weight: 800;
   font-style: normal;
   font-size: 48px;
   line-height: 110px;
   margin: 80px 0 120px;
}

.clients {

   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: row;
   flex-wrap: wrap;
   margin-bottom: 175px;
}
.clients-card {
   width: 25%;
   display: flex;
   justify-content: center;
   margin: 0 0 85px 0;
}

.clients-card:nth-child(4) {
   margin-right: 0;
}
.clients-card:nth-child(8) {
   margin-right: 0;
}
.clients-card:nth-child(12) {
   margin-right: 0;
}
.clients-card:nth-child(9) {
   margin-bottom: 0;
}
.clients-card:nth-child(10) {
   margin-bottom: 0;
}
.clients-card:nth-child(11) {
   margin-bottom: 0;
}
.clients-card:nth-child(12) {
   margin-bottom: 0;
}
//Слоган _ _ _
.slogan {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 950px;
   text-align: center;
}
.slogan-top {
   margin-bottom: 110px;
}
.slogan-bottom {
   margin: 110px 0 80px;
}

.slogan p{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   font-size: 34px;
   line-height: 55px;
   margin: 0;
}

//Слайдер с видео _ _ _
.slider {
   display: flex;
   justify-content: space-around;
   align-items: center;
   background: url(/img/bg-slider2.png) no-repeat;
   background-size: 85%;
   background-position: 290px 0;
   padding: 110px 150px 210px;
   width: 100%;
   
}

.slider_bar {
   position: relative;
   min-width: 0;
   padding: 0 120px;
}
.slider_bar .slick-arrow{
   position: absolute;
   top: 50%;
   margin: -60px 0 0 0;
   z-index: 10;
   font-size: 0;
   width: 30px;
   height: 130px;
   border: none;
}
.slider_bar .slick-arrow.slick-prev{
   left: 0;
}
.slider_bar .slick-arrow.slick-next{
   right: 0;
   background: url(/icons/slider-arrow.png) 0 0 / 100% no-repeat;
}
.slick-list {
   overflow: hidden;
}
.slick-track {
   display: flex;
   align-items: center;
   justify-content: center;
}

.slider-first{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.slider-second{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.slider-third{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.vidio {
   margin-right: 100px;
}

.vidio-text {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 450px;
}
.vidio-text h3{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 19px;
   line-height: 32px;
   margin: 0;
}
.vidio-text p{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   font-size: 17px;
   line-height: 32px;
   margin: 0;
   margin: 0;
}

//Подвал _ _ _
.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 0 150px 0;
   width: 100%;
}
.footer-top {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   background: url(/img/footer-bg.png) no-repeat;
   background-size: 100%;
   padding: 140px 150px 129px;
   width: 100%;
}
.text {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
   flex-wrap: nowrap;
}
.text h2{
   font-family: 'Gilroy';
   font-weight: 800;
   font-style: normal;
   font-size: 48px;
   line-height: 110px;
   margin: 0 0 40px;
   color: white;
}
.footer-mail{
   font-family: 'Gilroy';
   font-weight: 800;
   font-style: normal;
   font-size: 30px;
   line-height: 110px;
   margin-bottom: 35px;
   color: white;
   text-decoration: none;
}
.footer-phone{
   font-family: 'Gilroy';
   font-weight: 800;
   font-style: normal;
   font-size: 48px;
   line-height: 110px;
   color: white;
   text-decoration: none;
}

//Низ футера _ _ _
.footer_bottom {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   background-color: rgb(34, 34, 34);
   padding: 85px 150px;
   width: 100%;
}

.footer_bottom .footer_btn{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 77px;
   height: 77px;
   border-radius: 50%;
   background-image: linear-gradient(90deg , rgb(37, 173, 255), rgb(87, 215, 129));
   margin-right: 20px;
}

.behance,.dribbble,.vk,.facebook{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 74px;
   height: 74px;
   border-radius: 50%;
   background-color: black;
}

.footer_bottom div:hover{
   background-image: linear-gradient(90deg , rgb(37, 173, 255), rgb(87, 215, 129));
}

.footer_bottom div:nth-child(4){
   margin-right: 0;
}