@import "_fonts.scss";


body {
   margin: 0;
   padding: 0;
   overscroll-behavior: none;
   box-sizing: border-box;
   width: 100%;
}

//header _ _ _ 
.header {
   text-align: center;
   background: url(/img/bg.png) no-repeat;
   background-size: cover;
   width: 100%;
   padding: 75px 150px 0;
}
.header_container {
   text-align: left;
   padding-bottom: 200px;
   width: 100%;
}
.header_top {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}
//Логотип _ _ _
.logo {
   margin-right: 265px;
}
.logo a{
   display: flex;
   align-items: center;
   font-family: 'Gilroy';
   color: rgb(255, 255, 255);
   font-weight: 800;
   font-style: normal;
   font-size: calc(18px + 46 * (100vw / 1900));
   line-height: 30px;
   text-decoration: none;
}
//Навигация _ _ _
.bar{
   margin-right: 134px;
}
.bar ul{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
   list-style: none;
   text-decoration: none;
   padding: 0;
   margin: 0;
}
.bar li{
   display: flex;
   flex-wrap: nowrap;
   text-decoration: none;
}
.bar a{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   color: rgb(255, 255, 255);
   font-size: calc(18px + 11 * (100vw / 1900));
   line-height: 27px;
   text-decoration: none;
   padding: 15px 20px;
   border: 1px solid transparent;
}
.bar li:not(:last-child){
   padding-right: 60px;
}
.bar a:hover{
   border: 1px solid white;
   color: rgb(255, 255, 255);
}
//Номер телефлна _ _ _
.phone {
   margin-right: 73px;
}
.phone a{
   font-family: 'Roboto';
   font-style: normal;
   color: rgb(255, 255, 255);
   font-size: calc(18px + 11 * (100vw / 1900));
   line-height: 27px;
   text-decoration: none;
   font-weight: 700;
}
//Смена языка _ _ _
.switch_language ul{
   display: flex;
   flex-direction: row;
   padding: 0;
   margin: 0;
}
.switch_language li{
   list-style: none;
}
.switch_language a{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   color: rgb(119, 119, 119);
   font-size: calc(18px + 11 * (100vw / 1900));
   line-height: 27px;
   text-decoration: none;
   padding: 15px 20px;
   border: 1px solid transparent;
}
.switch_language a.activeLang{
   border: 1px solid white;
   color: rgb(255, 255, 255);
}
//Текст _ _ _
.header_title {
   color: rgb(255, 255, 255);
}
.header_title h1{
   font-family: 'Gilroy';
   font-weight: 800;
   font-style: normal;
   font-size: calc(18px + 101 * (100vw / 1900));
   line-height: 146px;
   margin: 150px 0 0;
}
.header_title p{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   font-size: calc(18px + 27 * (100vw / 1900));
   line-height: 73px;
   margin: 90px 0 0;
}
//Кнопка с чертой _ _ _
.button_down{
   text-align: center;
   position: relative;
}
.button_down {
   display: inline-block;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   color: rgb(119, 119, 119);
   font-size: calc(18px + 11 * (100vw / 1900));
   line-height: 27px;
   text-decoration: none;
   margin: auto;
}
.button_down p{
   margin: 0;
}
.stick{
   background: rgb(119, 119, 119);
   width: 2px;
   height: 65px;
   margin: auto;
   margin-top: 15px;
}


//Что мы делаем _ _ _ 
.main {
   background: url(/img/bg2.png) no-repeat;
   width: 100%;
   width: 100%;
   text-align: center;
   padding: 0 150px 0;
}
.we_doing {
   
}
.we_doing h2{
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Gilroy';
   font-weight: 800;
   font-style: normal;
   font-size: calc(18px + 55 * (100vw / 1900));
   line-height: 74px;
   color: black;
   margin: 0;
   margin-top: 110px;
}
//Карточки _ _ _ 
.cards {
   width: 100%;
   display: flex;
   flex-direction: column;
   margin: 90px 0 100px;
}
.cards_first {
   display: flex;
   justify-content: space-evenly;
   align-items: flex-start;
   margin-bottom: 80px;
}
.cards_second {
   display: flex;
   justify-content: space-evenly;
   align-items: flex-start;
}
.cards img{
   margin-bottom: 35px;
}
.cards h3{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: calc(18px + 7 * (100vw / 1900));
   line-height: 42px;
   margin: 0;
   margin-bottom: 35px;
}
.cards p{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   font-size: calc(18px + 0 * (100vw / 1900));
   line-height: 37px;
   margin: 0;
}
//Кнопка проекты _ _ _
.button_proj{
   text-align: center;
   position: relative;
}
.button_proj {
   display: inline-block;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   color: rgb(119, 119, 119);
   font-size: calc(18px + 11 * (100vw / 1900));
   line-height: 27px;
   text-decoration: none;
   margin: auto;
}
.button_proj p{
   margin: 0;
}
.stick-pj{
   background: rgb(119, 119, 119);
   width: 2px;
   height: 65px;
   margin: auto;
   margin-top: 15px;
}